@import '~antd/dist/antd.css';
#root {
  text-align: center;
  background-color: #F6ECE5;
  /* background-color: rgb(255,242,224) ; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

 @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 


.ant-layout-header {
  background: #ffffff;
  padding-left: 20px;
  min-height: 35vh;
  border-bottom: 1px solid #ddd;
}

.ant-layout-content {
  background:#f2f2f2;
  min-height: 50vh;
  padding-left: 20px;
  border-bottom: 1px solid #ddd;

}

.ant-layout-sider {
  background:#e6e6e6;
  min-height: 50vh;
  min-width: 30px;
}

.intro {
  position: relative;
  padding-top: 30px;
  padding-bottom: 300px;
}

.intro-text {
  position: relative;
  padding-left: 50px;
  padding-right: 30px;
  z-index: 1;
  text-align: left;
}

.intro-text-title {
  font-weight:600;
  padding-top:50px;
  padding-left:30px;
  text-align:left;
}


.intro-text-city {
  padding-top:30px;
  padding-left:30px;
  padding-right:750px;
  text-align: left;
  font-weight:400;
  font-family: 'PT Sans', sans-serif;
  font-size:17px;

}

.intro-image-container {
  position: absolute;
  bottom: 0;
  z-index: 0;
  max-width: 1480px;
  height: auto;
}

.intro-image-img {
  max-width:90%;
  height: auto;
}


.menu {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
}

.ant-menu.menu{
  background-color: #F6ECE5;
  line-height: 50px;
  border-bottom: 1px solid #bbbbbb
 
}

.section {
  padding-top:40px;
  padding-left: 30px;
  padding-bottom:30px;
}

.card-title {
  font-size: 13px;
  text-align: left;
  padding-bottom: 10px;
  font-family: 'Merriweather', serif;

}

.card-list {
  scroll-snap-type: mandatory;
  overflow: auto;
  overflow-y: hidden;
  display: flex;
}

.ant-card-meta-detail .ant-card-meta-title{ 
overflow: visible;
text-overflow: hidden;
white-space:normal;
min-height: 48px;
font-family: 'Roboto Slab', serif;
font-size:18px;
}

.card-list .ant-card {
  margin-right: 30px;
  width: 240px;
  min-width: 240px;
}

.card-list .ant-card-cover > img {
  height: 240px;
}

.card-list .ant-card {
  margin-right: 30px;
  width: 280px;
  min-width: 280px;
  font-family: 'Bitter', serif;
  font-size:15px;
}

.card-list::-webkit-scrollbar { 
  display: none;
}

.ant-drawer-wrapper-body {
  background-color:#FFFFFF;
}


.ant-drawer-wrapper-body .ant-drawer-header {
  background-color: #FFFFFF
}


.login-form {
  max-width: 400px;
  padding-top:100px;
  margin-left:200px;
  margin-right:200px;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}

.center-form {
  min-height: 800px;
  display: block;
  text-align: center;

}

.ant-form.ant-form-horizontal {
  /* max-width: 500px;
  margin-left:200px;
  margin-right:100px; */
  margin-left: auto;
  margin-right:auto;
  display: inline-block;
  padding-top:10px;
  min-width: 300px;
}

.logo-text {
  font-family: 'Pacifico', cursive;
  font-size:20px;
  color:#A22E07;
}

.title-text {
  font-family: 'Noto Sans', sans-serif;
  font-size:18px;
  /* font-weight:bold */
}

#sign-in {
  font-family: 'Pacifico', cursive;
  font-size:40px
}
#signuptitle {
  font-family: 'Pacifico', cursive;
  font-size:35px
}